window {
	background: transparent;
}
window:not(.desktop) {
	background: @theme_bg_color;
}

.path_bar {
	margin: 5px;
	background: alpha(CurrentColor, 0.05);
}

.file_container {
	background: @theme_base_color;
}
.desktop .file_container {
	background: transparent;
}
.file_container flowbox {
	margin: 5px;
}
.file_container flowboxchild:hover {
	background: alpha(CurrentColor, 0.1);
}

.navbar button {
	margin: 5px;
}

.revealer_sidebar {
}
.revealer_sidebar.mobile {
	background: alpha(@theme_base_color, 0.9);
}

.sidebar {
	background: transparent;
	border-right: 1px solid @borders;
}
.sidebar flowboxchild {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px 5px 0px 5px;
}
.sidebar flowboxchild:hover {
	background: alpha(CurrentColor, 0.1);
}

.place progressbar trough {
	min-height: 3px;
	min-width: 0px;
}

flowboxchild {
	transition: all 0.1s linear;
}

editablelabel.editing text {
	border-radius: 4px;
}

editablelabel.editing selection {
	background: @theme_selected_bg_color;
}

.box_overlay {
	background: rgba(0, 0, 0, 0.25);
}

.card .property {
	padding: 10px;
}
.card .property:not(:last-child) {
	border-bottom: 1px solid @borders;
}
